<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>xMesseneger - Error</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<noscript>
    <h2>Please, enable JavaScript in your browser settings.</h2>
</noscript>
<body>

<script type="text/javascript">
    window.location = "https://www.herokucdn.com/error-pages/no-such-app.html";
</script>

</body>
</html>